.footer {
   background-color: #000;
   color: aliceblue;
   padding: 2%;
   margin-top: 2%;
   width: 100%;
   text-align: center;
   /* position: fixed; */
   bottom: 0;
}

/* .footer {
   background-color: #000;
   color: aliceblue;
   padding-top: 20%;
} */
