/* Catagoy results  styling the whole container here
*/

.products_container {
   /* display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   max-width: 1450px;
   gap: 5%;
   justify-items: center;
   align-items: center; */
   /* margin: 10e130pxm ; */

   /*tesiing with flex*/
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin: 5% 2%;
   flex-wrap: wrap;
}

.catgoryclassLoader {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50vh;
}
/* media query */
@media (max-width: 590px) {
   .products_container {
      /* margin: 10%;    */
   }
   /* i thnk the gap here is given in the products component since it is just sending the props. */
}
