.hero_img {
   position: relative;
   padding-top: -300px;
}
.hero_img::before {
   content: "";
   position: absolute;
   bottom: 0px;
   width: 100%;
   height: 300px;
   background-image: linear-gradient(to bottom, rgba(225, 225, 225, 0), rgba(225, 225, 225));
}

.fade-carousel .slide {
   opacity: 0;
   transition: opacity 0.5s ease-in-out; /* Adjust duration as needed */
}

.fade-carousel .slide-active {
   opacity: 1;
}
