.footer {
   background-color: #000;
   color: aliceblue;
   padding-top: 5%;
   margin-top: 5%;
   text-align: center;
}

/* .footer {
   background-color: #000;
   color: aliceblue;
   padding-top: 20%;
} */
