* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header {
   background-color: #1f1f1f;
   color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* position: fixed; */
   /* top: 0; */
   /* position: fixed; */
   /* padding: 25px; */
   /* gap: 2%; */
}

.headerLeft {
   width: 20%;
   display: flex;
   justify-content: space-around;
}

.logowrapper {
   min-width: 100px;
   max-width: 100px; /* Prevent logo from shrinking */
   /* padding: 1%; */
}

.logo {
   width: 100%;
   padding: 10% 1% 0%;
}

.delivery {
   display: flex;
   justify-content: center;
   align-items: center;
}

.search {
   flex-grow: 1; /* let the search bar grow to fill available space
   /* max-width: 600px; optional: cap how wide it can get */
   background-color: #fff;
   /* border-radius: 4px; */
   /* overflow: hidden; so child elements don’t overflow corners */
   /* width: 50%; */
   display: flex;
}
.search button {
   background-color: #f4812a;
}
.search button:hover {
   background-color: #b16429;
}
.search select,
.search input,
.search button {
   border: none;
   outline: none;
   padding: 0.5rem;
   font-size: 1rem;
}

.search select {
   background-color: #bbb9b9;
   border: none;
   width: 3.5em;
   padding: 0.5em;
}

.search input {
   border: none;
   padding: 0.5em;
   flex-grow: 1;
   background-color: #fff;
   /* width: 85%; */
   overflow: hidden;
   /* height: 100%; */
}

.search button {
   border: none;
   padding: 0.5em;
}
.nav_rightside {
   width: 30%;
}
.nav_rightside ul {
   display: flex;
   justify-content: space-around;
   /* gap: 10px; */
   /* width: 100%; */
}
.lang {
   /* width: 20%; */
   /* display: flex;
   gap: 1%; */

   width: 80px;
   display: flex;
   padding: 10px 0px;
   /* justify-content: space-around; */
   /* padding: 2%; */
}
.lang select {
   border: none;
   /* color: #1f1f1f; */
   width: 50%;
}

.nav_rightside img {
   width: 30%;
}

.nav_rightside ul li {
   list-style: none;
   a {
      text-decoration: none;
      color: white;
   }
}

header p {
   font-size: small;
}

.cart {
   position: relative;
}
.cart span {
   position: absolute;
   font-weight: bold;
   top: -7px;
   font-size: 20px;
   background-color: #1a1a1a;
   left: 14px;
   color: orange;
}

.nav_rightside li:has(a):hover,
.delivery:hover,
.logowrapper:hover,
.lower ul li:hover {
   border: 1px solid rgb(245, 240, 240);
   border-radius: 3px;
}

/* lower header */
.lower_header {
   background-color: #232f3e;
   color: white;
   /* padding: 1%; */
}

.lower_header ul {
   display: flex;
   list-style: none;
   /* justify-content: space-around; */
   gap: 1%;
   padding-left: 1%;
}
.lower_header ul li {
   padding: 5px;
}

.lower_header ul li:first-child {
   display: flex;
   justify-content: center;
   text-align: center;
   gap: 3px;
   align-items: center;
   font-weight: bold;

   /* padding-left: 3%; */
}

.lower_header ul li:hover {
   /* padding: 2px; */
   border: 1px solid rgb(246, 242, 242);
   border-radius: 3px;
   /* border-width: 5px; */
}

/*  media query */
@media screen and (max-width: 576px) {
   header {
      width: 100%;
      display: flex;
      flex-direction: column !important;
      /* height: auto; */
      /* justify-content: space-around; */
      /* gap: 32%; */
      /* margin-bottom: 50%; */
   }
   .nav_rightside {
      width: 90%;
      padding: 3%;
   }
   .lower_header ul li:not(:first-child) {
      display: none;
   }
}

@media screen and (max-width: 800px) {
   .lang,
   .delivery {
      display: none;
   }
}
