.container {
   /* background-color: #f4ef51; */
   padding: 30px;
}
.orders_container {
   /* background-color: #bf919f; */
   /* padding: 20px; */
   /* overflow: hidden; or 'auto', 'scroll' based on your needs */
   white-space: normal; /* allows text to wrap */
   overflow-wrap: break-word; /* prevents overflow by breaking words */
}
.orders_container h2 {
   border-bottom: 2px solid var(--primary-shade);
   padding: 20px;
}
.orders_container p {
   padding: 12px;
}

.orders_container img {
   width: 100px !important;
}
.orders_container div {
   height: auto !important;
}

.orders_empty {
   padding: 1.5em;
   font-size: 2em;
}

.orders_container span {
   color: rgba(255, 166, 0, 0.834);
   font-weight: 600;
}

/* LOADER  */
.ordersListloaderContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10%;
}
