.container {
   background-color: #efeeee;
   padding: 30px;
}
.orders_container {
   background-color: #fff;
   padding: 20px;
}
.orders_container h2 {
   border-bottom: 2px solid var(--primary-shade);
   padding: 20px;
}
.orders_container p {
   padding: 12px;
}

.orders_container img {
   width: 100px !important;
}
.orders_container div {
   height: auto !important;
}

.orders_empty {
   padding: 1.5em;
   font-size: 2em;
}

.orders_container span {
   color: rgba(255, 166, 0, 0.834);
   font-weight: 600;
}
